.menu {
    li {
        list-style: none;
        display: inline-block;
        padding: 1rem;
        margin-right: 20px;
        margin-bottom: 20px;
        cursor: pointer;
        background: #34495E;
        color: #fff;
        transition: .3s all ease;
    }
    .active {
        color: #dd5;
        background: #052447;
    }
}